# Exclude files/dirs
*_files/
*.html
scratch.*
.env
FTCM_Course List_Spring2025.xlsx
Github-VSCode-Setup-Tutorial_files/
 .DS_Store
# Whitelist specific files and directories
!.gitignore
!README.md
!readme.html
